@import '../List/list.scss';

.CardSection {
  cursor: pointer;
  width: $list_width;
  margin-top: 10px;
  background-color: $g_3;
  // padding: 10px;
  border-radius: 6px;

  .CardSection_lastChange {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    // background-color: $g_4;
    color: $g_1_3;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 10px;
    padding-top: 10px;

    .CardSection_lastChange_delete{
        .activeWordTrash{
            color: red;
        }
    }
  }

  .CardSection_content {
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 10px;
    padding-bottom: 10px;
  }
}
