@import '../../settings/settings.scss';

$add_btn_width: 40px;

.MainPageSection {
  display: flex;
  gap: 10px;
  width: fit-content;
  height: 100vh;
  padding: 50px;
  // background-color: rgba(199, 199, 199, 0.611);

  .MainPageSection_addList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $list_width;
    height: 80px;
    padding: 15px;
    background-color: $g_4;
    border-radius: $borderRadius;

    .MainPageSection_add {
      cursor: pointer;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $g_3;
      width: $add_btn_width;
      height: $add_btn_width;
      border-radius: 100px;
    }
  }
}
